.update, .delete,.create-user {
  align-items: center;
  background-clip: padding-box;
  background-color: #fac000;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  margin-right: 15px;
}

.delete {
  background: #f82b2b;
}

.update:hover,
.update:focus,
.delete:hover,
.delete:focus,
.create-user:hover,
.create-user:focus{
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.update:hover, .delete:hover,.create-user:hover {
  transform: translateY(-1px);
}

.create-user {
  background: #4242F4;
  margin: 10px;
}
