/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.error-message{
  display: inline-block;
  color: red;
  margin: 10px 0 5px 10px;
}
